<h3>login options</h3>
<div class="col-lg-3">
    <a href="#" ng-click="ctlModel.authenticateProvider('google')">
        <div class="connect__icon">
        <span class="fa-stack fa-lg">

            <i class="fa fa-google-plus fa-stack-1x"></i>
        </span>
        </div>
    </a>
</div>

<div class="col-lg-3">
    <a href="" class="connect twitter" ng-click="ctlModel.authenticateProvider('twitter')">
        <div class="connect__icon">
        <span class="fa-stack fa-lg">
            <i class="fa fa-twitter fa-stack-1x"></i>
        </span>
        </div>
    </a>
</div>

<div class="col-lg-3">
    <a href="#" class="connect facebook" ng-click="ctlModel.authenticateProvider('facebook')">
        <div class="connect__icon">
        <span class="fa-stack fa-lg">
            <i class="fa fa-facebook fa-stack-1x"></i>
        </span>
        </div>
    </a>
</div>

<div class="col-lg-3">
    <a href="#" class="connect live" ng-click="ctlModel.authenticateProvider('live')">
        <div class="connect__icon">
        <span class="fa-stack fa-lg">
            <i class="fa fa-windows fa-stack-1x"></i>
        </span>
        </div>
    </a>
</div>

<div class="col-lg-3">
    <a href="http://localhost:3000/v1/visionsoftware/login" class="connect live">
        <div class="connect__icon">
            <span class="fa-stack fa-lg">
                <i class="fa fa-id-card fa-stack-1x"></i>
            </span>
        </div>
    </a>
</div>
<hr>
<div>
    <hr>
    <form name="loginForm" ng-submit="ctlModel.authenticate(ctlModel.credentials)" novalidate>
        <label for="username">Email:</label>
        <input type="text" id="username" ng-model="ctlModel.credentials.email">
        <label for="password">Password:</label>
        <input type="password" id="password" ng-model="ctlModel.credentials.password">
        <button type="submit">Login</button>
    </form>
</div>
