<div>
    <div class="sidebar-header">
        <a ui-sref="home" ui-sref-active="active">
            <h3>M A N G O</h3>
            <strong>MNG</strong>
        </a>
    </div>

    <ul class="list-unstyled components">
        <!--<li class="active" ng-show="isAdminApp">-->
            <!--<a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">-->
                <!--<i class="glyphicon glyphicon-cog"></i>-->
                <!--Configuración-->
            <!--</a>-->
            <!--<ul class="collapse list-unstyled" id="homeSubmenu">-->
                <!--<li>-->
                    <!--<a ui-sref="login" ui-sref-active="active">Users</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a ui-sref="roles" ui-sref-active="active">Roles</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a href="#">-->
                <!--<i class="glyphicon glyphicon-briefcase"></i>-->
                <!--About-->
            <!--</a>-->
            <!--<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">-->
                <!--<i class="glyphicon glyphicon-duplicate"></i>-->
                <!--Pages-->
            <!--</a>-->
            <!--<ul class="collapse list-unstyled" id="pageSubmenu">-->
                <!--<li><a href="#">Page 1</a></li>-->
                <!--<li><a href="#">Page 2</a></li>-->
                <!--<li><a href="#">Page 3</a></li>-->
            <!--</ul>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a href="#">-->
                <!--<i class="glyphicon glyphicon-link"></i>-->
                <!--Portfolio-->
            <!--</a>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a href="#">-->
                <!--<i class="glyphicon glyphicon-paperclip"></i>-->
                <!--FAQ-->
            <!--</a>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a href="#">-->
                <!--<i class="glyphicon glyphicon-send"></i>-->
                <!--Contact-->
            <!--</a>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a ui-sref="login" ui-sref-active="active">-->
                <!--<i class="glyphicon glyphicon-log-in"></i>-->
                <!--login-->
            <!--</a>-->
        <!--</li>-->
        <li>
            <a ui-sref="asignements" ui-sref-active="active">
                <i class="glyphicon glyphicon-tasks"></i>
                asignement
            </a>
        </li>
        <li>
            <a ui-sref="chart" ui-sref-active="active">
                <i class="glyphicon glyphicon-signal"></i>
                chart
            </a>
        </li>
    </ul>
    <!--<ul class="list-unstyled CTAs">-->
    <!--<li><a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a></li>-->
    <!--<li><a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a></li>-->
    <!--</ul>-->
</div>