<h3>Diciembre</h3>
<table ng-table="self.tableParams" class="table" show-filter="true">
    <tr ng-repeat="row in $data">
        <td title="'Day'" filter="{ day: 'number'}" sortable="'day'">
            {{row.day}}
        </td>
        <td title="'Turno 1'" filter="{ Turn_1: 'text'}" sortable="'Turn_1'">
            {{row.Turn_1.join()}}
        </td>
        <td title="'Turno 2'" filter="{ Turn_2: 'text'}" sortable="'Turn_2'">
            {{row.Turn_2.join()}}
        </td>
        <td title="'Turno 3'" filter="{ Turn_3: 'text'}" sortable="'Turn_3'">
            {{row.Turn_3.join()}}
        </td>
    </tr>
</table>